
.align-right {
    //float: right; #large

    &:after {
        clear: both;
    }

    &.title {
        // padding-right: 0.4em; // #large
        text-align: center;
    }
}

.align-left {
    &.title {
        // padding-left: 0.4em; // #large
        text-align: center;
        padding-left : 0.4em;
    }
}

.right {
    float : none;
}


.space {
    padding:4em 4em;
}

.game {
    margin: 5em 0em;
}

.play {
    @include slide(all .5s ease);
    margin-top:1em;
}

.orange {
    @include setColor($color-orange);
}

.green {
    @include setColor($color-green);
}

.blue {
    @include setColor($color-blue);
}

.red {
    @include setColor($color-red);
}

.btn {
    padding: 0.8em 5em;
}

.rotation{
    // -webkit-animation: rotation 1s linear 0 infinite; Chrome, Safari, Opera
    // animation: rotation 1s linear 0 infinite; /* Standard syntax */
}

.flash{
     -webkit-animation: flash 0.2s linear 0 infinite; /* Chrome, Safari, Opera */
    animation: flash 0.2s linear 0 infinite; /* Standard syntax */
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rotation {
    0%   {
        transform: rotate(0deg) scale(1);
        -webkit-transform: rotate(0deg) scale(1);
    }

    50%  {
         transform:rotate(180deg) scale(0.5);
         -webkit-transform:rotate(180deg) scale(0.5);
    }

    100% {
        transform: rotate(360deg) scale(1);
        -webkit-transform: rotate(360deg) scale(1);
    }
}

/* Standard syntax */
@keyframes rotation {
    0%   {
        transform: rotate(0deg) scale(1);
    }

    50%  {
         transform:rotate(180deg) scale(0.5);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

@-webkit-keyframes flash {
    0%   {
        opacity: 1;
    }

    100%   {
        opacity: 0;
    }
}

@keyframes flash {
    0%   {
        opacity: 1;
    }

    100%   {
        opacity: 0;
    }
}

