@media (min-width: $screen-lg-min) {

  #navigation {
    a {
        margin: 0px 5em;
    }
  }

     .multi {
        margin-left : .5em !important;
    }

}


@media (min-width: $screen-md-min) {


  #header {
        position: absolute;
        width: 100%;
        top:0px;
        display: block;
        height: 100%;
        overflow: hidden;

        header {
            position: absolute;
            width: 100%;
            height: 100%;


            video {
                position:absolute;
                max-width: 110%;
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
                z-index: 90;

                // object-fit: fill;
                // o-object-fit: fill;
            }
        }

        .video_play{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
            z-index: 100;
            text-align: center;
            .glyphicon-play{
                color: white;
                font-size: 10rem;
                top: 45%;
                margin-top: -5rem;
            }
        }
    }

    #about, #games, #technology, #highscores, footer {
        top:100%;
    }

    #navigation {
        bottom:0em !important;
        top:auto;
        z-index: 1000;
        a {
            font-size: 2.3em;
            margin: 0px 3em;
        }
    }

    #games {
        .game {

        }
    }

    .logo {
        display: block !important;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center left;
        width: 100px;
        height: 300px;
        position: absolute;
        top: -5em;

        &.top {
            background-image : url('../images/logo-top.svg');
            right: -3em;
            background-color: $background-highlight;
        }

        &.ticket {
            background-image : url('../images/logo-ticket.svg');
            right: -43.3em;
            width: 300px;
            @include slide(all 1.4s ease);

            &.slide {
                right:7.2em;
            }
        }

        &.bottom {
            background-image : url('../images/logo-bottom.svg');
            right:2.9em;
        }

    }

    .right {
        float : right;
    }

}

@media (min-width: $screen-sm-min) {

  .title {
    text-align : left !important;
  }

  .align-right {
    .title {
        padding-right : 0.4em;
    }
  }

  .align-left {
        .title {
            padding-left: 0.4em;
        }
    }

}

@media (min-width: $screen-xs-min) {



  #technology {
    .tech {
        height: 100px;
    }
  }
}

@media (max-width : $screen-xs-min) {
        .container-fluid {
            max-width: 100%;

        }

        #games .row > div {
            padding:0px;
        }

        .space {
            padding:2em !important;
        }
}