@mixin setColor($c) {
    h2 {  color: $c; }
    a {
        background-color: $c;
        color:white;

        &:hover {
            color:white;
            background-color: darken( $c, 10% )
        }
    }
}


@mixin slide($args)
{
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}