html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 10px;
    color:$color-blue;
}

h1 {
    font-size: 3.5em;
}

h1, h2, h3, h4, h5, h6, nav, footer {
    text-transform: uppercase;
    font-family: bebas-neue, sans-serif;
    -webkit-font-smoothing: antialiased;
}

button {
    color:white;

    &:hover {
        color:white !important;
        cursor: pointer;
    }
}

article {
    font-size: 1.5em;
    text-align: justify;
}

/**
 *
 * Header
 *
 */

 #header {
    display: none;
 }



/**
 *
 * Navigations
 *
 */


#navigation {
    position: absolute;
    // bottom:0em; // #large
    top:0px;
    width: 100%;
    height: 5em;
    background-color: $background;
    text-align: center;
    padding: 1em;
    z-index: 100;
    background-color: rgba($color-white, .95);
    padding-top : 1.4em;

    a {
        font-size: 1.7em;
        color:$nav;
        margin: 1px .3em;
        text-decoration: none;
        @include slide(all .5s ease);

        &:hover, &.active {
            color:$nav-hover;
        }
    }

    &.fixed {
        position : fixed;
        top:0px;
        border-bottom:1px $color-red solid;

    }
}

/**
 *
 * About
 *
 */

#about {
    position: relative;
    // top:100%;
    top:5em;
    width: 100%;
    height:auto;
    background-color: $background-highlight;
    color: $color-white;
    overflow: hidden;
    z-index: 95;
    h1 {
        color: $title-white;
        padding-bottom:.5em;
    }

    .logo {
        display: none;
    }

}

/**
 *
 * Games
 *
 */

#games {
    position: relative;
    // top:100%; // #large
    top:5em;
    background-color: $background;
    width: 100%;
    height: auto;
    z-index: 96;

    h1 {
        color: $title-blue;
    }



    .game-pic {
        width: 100%;
        position:relative;
        height: 300px;
        margin: 0 auto;
        // margin-top:50%;
        // top:-150px;
        background-repeat : no-repeat;
        background-position : center;
        background-size: contain;

        &.duck {
            background-image: url('../images/duck.png');
        }

        &.car {
            background-image: url('../images/car.png');
        }

        &.fly {
            background-image: url('../images/fly.png');
        }

         &.shoot {
            background-image: url('../images/shoot.png');
        }

        &.basket {
            background-image: url('../images/basket.png');
        }
    }

    .multi {
        margin-left : 0em;
    }
}



/**
 *
 * Technology
 *
 */


#technology {
    position: relative;
    width: 100%;
    //top:100%; // #large
    top:5em;
    height:auto;
    background-color: $background-footer;
    color: $color-white;

    h1 {
        color: $title-white;
        padding-bottom:.5em;
    }

    .tech {
        width: 100%;
        height: 75px;
        background-repeat : no-repeat;
        background-size : contain;
        background-position : center;

        &.webgl {
            background-image : url('../images/webgl.svg');
        }

        &.three {
            background-image : url('../images/three.svg');
        }

        &.node {
            background-image : url('../images/node.svg');
        }

        &.socket {
            background-image : url('../images/socket.svg');
        }

        &.leap {
            background-image : url('../images/leap.svg');
        }

        &.heroku {
            background-image : url('../images/heroku.svg');
        }

        &.create {
            background-image : url('../images/create.svg');
        }

        &.physi {
            background-image : url('../images/physi.svg');
        }


    }
}

#highscores {
    position: relative;
    bottom: 0;
    z-index: 97;
    background: $color-blue;
    color: $title-white;
    .scores{
        font-weight: 200;
        font-size: 1.3em;
    }
}

footer {
    position: relative;
    width: 100%;
    top:2em;
    height:auto;
    background-color: $background;
    color: $color-blue;
    font-size: 1.4em;
    text-align: center;
    padding:.4em;
}




.game {
    &:last-child {
        margin-bottom: 0px;
    }
}

#games {
    padding-bottom:0px;
}



.covervid-wrapper {
    position: fixed;
    //top: 0;
    top:-2.9em;
    left: 0;
    width: 100%;
    height: 100%;
}