$background : #ffffff;
$background-highlight : #e6414b;
$background-footer : #f26f40;

$nav : #e6414b;
$nav-hover : #094a69;

$title-white : #ffffff;
$title-blue : #094a69;

$color-white : #ffffff;
$color-blue : #094a69;
$color-red : #e6414b;
$color-green : #1f7350;
$color-orange : #f26f40;